.container-index-boards {
  margin-top: 25px;
  margin: 0 auto;
  max-width: 1400px;
}

.content-max-width {
  max-width: 1300px;
  margin: 0 auto;
  justify-content: center;
}

#map {
  position: sticky;
  right: 115px;
  top: 150px;
  border-radius: 20px;
}

.content-boards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.padd-left {
  padding-left: 20px;
}

.marg-top {
  margin-top: 15px;;
}

.card-boards {
  justify-self: center;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  border-radius: 20px 20px 0 0;
}

.card-text {
  word-wrap: break-word;
}

#card-location {
  font-weight: 500;
  font-style: italic;
}

#card-price {
  font-size: 20px;
  font-weight: bold;
}

.interline-card-content {
  line-height: 0.4;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .content-boards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .content-boards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content-boards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content-boards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content-boards {
    grid-template-columns: 1fr 1fr;
  }
}
