.content-boards {
  background-color: $light-gray;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
}

.list-of-cards {
  margin: 0 auto 90px auto;
}

.card-boards {
  justify-self: center;
}

.card-text {
  word-wrap: break-word;
}

.interline-card-content {
  line-height: 0;
}
