// Specific CSS for your home-page
.home-banner {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.pexels.com/photos/3993186/pexels-photo-3993186.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  h1 {
    color: white;
  }
  p {
    color: white;
    opacity: 0.7;
  }
}

.text-input {
  padding: 0.375rem 0.75rem;
  border-radius: 10px;
}

.form-banner {
}
