.profile-image {
  height: 150px;
  width: auto;
  border: 2px solid $light-gray;
}

.board-image {
  object-fit: contain;
  height: 80px;
  width: auto;
  border-radius: 4px;
}

.profile-boards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;

  margin: 0 auto;
  justify-content: center;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .profile-boards-grid {
    grid-template-columns: 1fr;
  }
  #map {
    display: none
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .profile-boards-grid {
    grid-template-columns: 1fr;
  }
  #map {
    display: none
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)  {
  .profile-boards-grid {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .profile-boards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .profile-boards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
