<div class="container text-white p-5">
  <%= link_to "< All boards", boards_path, class: "text-white" %>
  <h1 class="my-3 text-center border-bottom text-white">Request a rental</h1>
  <div class="d-flex justify-content-center text-white">
    <div class="content-new-board">
      <%= render "form", rental: @rental %>

    </div>
  </div>
</div>

<!-- <p>Total Price: <%= @rental.total_price %> €</p> -->
