<div class="container p-5">
  <%= link_to "< All boards", boards_path, class: "text-white" %>
  <h1 class="my-3 text-center">Rent this board!</h1>
  <div class="d-flex justify-content-center">
    <div class="content-new-board">
      <%= render "form", rental: @rental %>

    </div>
  </div>
</div>

<!-- <p>Total Price: <%= @rental.total_price %> €</p> -->
