<h1>Welcome to Airsurf !</h1>
<p>If you're a surfer looking for boards, this app is for you 🤙</p>
<p><%= User.id(1) %></p>
<%# <%= cl_image_tag User.first.photo.key, height: 300, width: 400, crop: :fill %> %>